<nav class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
    <a routerlink="/" aria-label="Upload" class="navbar-brand me-md-2 me-0">
        <fa-icon [icon]="faRocket"></fa-icon>
        <span class="ms-2 d-inline">Upload</span>
    </a>
    <ul class="navbar-nav flex-row ms-md-auto me-4 d-none d-md-flex align-items-center">
        <li class="ms-3">
            <a href="https://github.com/bobbyg603/upload" rel="nofollow noopener noreferrer" target="_blank"
                title="View Project on GitHub">
                <fa-icon class="text-white" [icon]="faGithub" size="lg"></fa-icon>
            </a>
        </li>
        <li class="ms-3">
            <a href="https://twitter.com/bobbyg603" rel="nofollow noopener noreferrer" target="_blank"
                title="Follow @bobbyg603 on Twitter">
                <fa-icon class="text-white" [icon]="faTwitter" size="lg"></fa-icon>
            </a>
        </li>
    </ul>
    <button type="button" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler-right">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>