<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">
            Upload Files
        </h5>
        <button class="btn-close btn-close-white" aria-label="Close" (click)="modal.close('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-upload (uploadComplete)="onUploadComplete()" (uploadStart)="onUploadStart()"></app-upload>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-cy="upload-modal-close-button" [disabled]="closeButtonDisabled"
            (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>