@import "~bootstrap/scss/bootstrap";

:root {
    --primary-background-color: linear-gradient(135deg, #0143a3, #0273d4);
}

html,
body {
  height: 100%;
  min-width: 320px;
  width: auto !important;
}

.cursor-pointer {
  cursor: pointer;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
